@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-neutral-50 text-neutral-800;
  font-family: 'Roboto', sans-serif;
}

.font-serif {
  font-family: 'Playfair Display', serif;
}

